body {
    background-image:url("img/bg\ white.png")
}
*{
    font-family: 'Times New Roman', Times, serif;
}
h1{
   
    text-align: center;
    font-size: 100px;;
    color: hsl(0, 0%, 100%);
}
.header{
    background-image:url("img/BGBalck.jpg") ;
    font-size: 20px;
}

.menu{
    text-align: end;
}

.grid{
    display: flex;
    justify-content: space-between;
}

.origami{
    background-color: rgba(183, 0, 255, 0.274);
    display:flexbox;
    font-size: x-large;
    color: #700000;
    font-weight: bold;
    height: 900px;
    border:solid;
}

.footer{
    display: flex;
    justify-content: space-between;
    margin-left: 1650px;
}