body {
    background-image:url("img/bg\ white.png")
}

*{
    font-family:cursive;
}
h1{
    color: hsl(0, 94%, 27%);
    font-size:6vmax;
    margin: 30px;
    border:solid;
    justify-content: space-between;
}

.menu{
    margin-top: 30px;
    margin-right: 30px;
}
.item{
    border:solid;
}
